.form {
    position: relative;
  }
  
  .control {
    margin-bottom: 0.5rem;
  }
  
  .control label {
    font-weight: bold;
    display: block;
    margin-bottom: 0.5rem;
  }
  
  .control input,
  .control textarea {
    font: inherit;
    padding: 0.35rem;
    border-radius: 4px;
    background-color: #f0f0f0;
    border: 1px solid #c1d1d1;
    display: block;
    width: 100%;
    font-size: 1.00rem;
  }
  
  .control input:focus,
  .control textarea:focus {
    background-color: #d8e6f3;
    outline-color: rgb(140, 172, 236);
  }
  
  .actions {
    text-align: right;
  }

  .invalid label {
    color: #ca3e51;
  }
  
  .invalid input,
  .invalid textarea{
    border-color: #aa0b20;
    background-color: #ffeff1;
  }
  